@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .trans {
    transition-timing-function: ease-in;
    transition-property: all;
  }
  h1 {
    @apply text-2xl font-semibold text-center m-4 p-4;
  }
  p {
    @apply px-4;
  }

  .circle {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    @apply w-0 h-0 sm:w-96 sm:h-96 rounded-full absolute  dark:shadow-lg dark:shadow-gray-800;
  }
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
