@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .trans {
    transition-timing-function: ease-in;
    transition-property: all;
  }
  h1 {
    @apply text-2xl font-semibold text-center m-4 p-4;
  }
  p {
    @apply px-4;
  }

  .circle {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    @apply w-96 h-96 rounded-full absolute  dark:shadow-lg dark:shadow-gray-800;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
